body {
    font-size: 1vw;
    /* height: 100vh; */
}

.navigation {
    background-color: rgb(59, 59, 59);
    color: rgb(240, 240, 240);
}

.nav-link {
    color: rgb(224, 224, 223);
}

h1 {
    font-size: 2.5vw
}

.main {
    background-color: rgb(250, 249, 249);
    /* width: 100vh;
    overflow-y: scroll; */
}

h2 {
    font-size: 3.5vw
}

img {
    width: 100%
}

#snimki img {
    filter: grayscale(100%);
}
#snimki img:hover{
    filter: grayscale(0%);
}

#zaMen {
    background-color: rgb(84, 84, 84);
    color: rgb(240, 240, 240);
}

#zaRabota {
    background-color: #c8c8cc;
    color: rgb(84, 84, 84);
}

#contact {
    background-color: rgb(84, 84, 84);
    color: rgb(240, 240, 240);
}

#zapitvane {
    background-color: #c8c8cc;
    color: rgb(84, 84, 84);
}

.nav-link:focus, 
.nav-link:hover {
    background-color: red;
    color:aqua
}