body {
    font-size: 1vw;
    background-color: rgb(240, 240, 240) ;
    /* height: 100vh; */
}

.navigation {
    background-color: rgb(59, 59, 59);
    color: rgb(240, 240, 240);
}



.nav-link {
    color: rgb(224, 224, 223);
}

h1 {
    font-size: 2.5vw
}


h2 {
    font-size: 3.5vw;
}
#snimki, #zaRabota, #zapitvane {
    color: rgb(84, 84, 84);
    background-color: rgb(240, 240, 240);
}

#zaMen, #contacts {
    color: rgb(240, 240, 240);
    background-color: rgb(84, 84, 84);
}

img {
    width: 100%
}

#snimki img {
    filter: grayscale(100%);
}
#snimki img:hover{
    filter: grayscale(0%);
}


.nav-link:focus, 
.nav-link:hover {
    background-color: rgb(28, 27, 27);
    color:rgb(255, 255, 255)
}
footer {
    background-color: rgb(84, 84, 84);
    color: rgb(240, 240, 240);
}