body {
    font-size: 1vw;
    background-color: rgb(240, 240, 240) ;
    /* height: 100vh; */ 
    font-family: 'Manrope', sans-serif;
}

.navigation {
    background-color: rgb(59, 59, 59);
    color: rgb(240, 240, 240);
}

.navigation p {
    font-size: 1.1vw;
}

.nav-link {
    color: rgb(240, 240, 240);
}

h1 {
    font-size: 2.4vw
}


h2 {
    font-size: 3.5vw;
}
#snimki, #zaRabota, #zapitvane {
    color: rgb(28, 27, 27);
    background-color: rgb(240, 240, 240);
}

#zaMen, #contacts {
    color: rgb(240, 240, 240);
    background-color: rgb(28, 27, 27);
}

img {
    width: 100%
}

#snimki img {
    filter: grayscale(100%);
}
#snimki img:hover{
    filter: grayscale(0%);
}


.nav-link:focus, 
.nav-link:hover {
    background-color: rgb(28, 27, 27);
    color:rgb(255, 255, 255)
}
footer {
    background-color: rgb(28, 27, 27);
    color: rgb(240, 240, 240);
}

footer {
    font-size: 0.8vw;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(240, 240, 240);
    background-color: rgb(28, 27, 27);
}

.modal-body {
    text-align: center;
}

.modal-body img {
    max-height: 100vh;
    max-width: 100vw;
    width: auto;
    height: 100%;
}
.modal-content {
    background: rgba(0, 0, 0, 0.1)
}
.modal-header {
    border: none;
}
.offcanvas-body, .offcanvas-header {
    background-color: rgb(59, 59, 59);
}